.app-container {
  min-height: 100vh;
  background-image: url("/back_image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
